<header>
	<div class=" w-full h-24 bg-eggPlant grid grid-cols-2">
		<div class=" flex justify-start items-center m-4">
			<h1 class=" font-ultra text-4xl text-gray-300">All4Sports</h1>
		</div>
		<div class="flex justify-end items-center m-4 gap-4">
			<input type="search" class=" w-[70%] mr-8 h-12 rounded-xl p-4" name="" id="">
			<a href="">
				<img src="{{asset('icons/profile.png')}}" class=" bg-white rounded-lg max-h-24 h-16 p-2" alt="Cart image " srcset="">
			</a>
			<a href="">
				<img src="{{asset('icons/cart.png')}}" class=" bg-white rounded-lg max-h-24 h-16 p-2" alt="Cart image " srcset="">
			</a>
		</div>
	</div>
</header>
