<header>
	<div class="w-full h-24 bg-eggPlant grid grid-cols-2">
		<div class="flex justify-start items-center m-4">
			<h1 class="font-ultra text-4xl text-gray-300">All4Sports</h1>
		</div>
		<div class="flex justify-end items-center m-4 gap-4">
			<form method="GET" action="{{ path('app_search') }}" class="w-[70%] mr-8 flex">
				<input type="search" name="q" 
					   class="w-full h-12 rounded-xl p-4 focus:outline-none focus:ring-2 focus:ring-blue-500" 
					   placeholder="Rechercher un article..."
					   value="{{ app.request.query.get('q') }}">
				<button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 ml-2">
					🔍
				</button>
			</form>
			<a href="">
				<img src="{{ asset('icons/profile.png') }}" class="bg-white rounded-lg max-h-24 h-16 p-2" alt="Profile">
			</a>
			<a href="">
				<img src="{{ asset('icons/cart.png') }}" class="bg-white rounded-lg max-h-24 h-16 p-2" alt="Cart">
			</a>
		</div>
</header>
