<header>
	<div class=" w-full h-24 bg-eggPlant">
		<div class=" flex justify-center items-center h-full">
			<a href="{{path('app_home')}}" class=" font-ultra text-4xl text-gray-300 hover:cursor-pointer">All4Sports</a>
		</div>
	</div>
</header>
