{% extends 'base-log.html.twig' %}

{% block title %}Login{% endblock %}

{% block header %}
{% include 'header/header.html.twig' %}
{% endblock %}

{% block body %}
<div class="flex justify-center mb-5">
  <div class="p-3 rounded-lg w-[15%] {% if app.request.attributes.get('_route') == 'register' %}bg-glaucous{% else %}bg-white text-black{% endif %}">
   <a href="{{ path('app_register') }}" class="text-xl font-bold">Register</a>
  </div>
  <div class="p-3 rounded-lg w-[15%] {% if app.request.attributes.get('_route') == 'login' %}bg-white text-black{% else %}bg-glaucous{% endif %}">
      <a href="{{ path('app_login') }}" class="text-xl font-bold  text-white">Login</a>
  </div>
</div>

<div>
  <form method="post">
  {% if error %}
  <div class="bg-red-500 text-white p-3 rounded-lg mb-4 text-center">
    Identifiants incorrects. Veuillez réessayer !
  </div>
{% endif %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
    <div class="flex flex-col gap-4">
      <label for="username" class="text-sm font-medium">Email :</label>
      <input class="bg-gray-400 p-3 rounded-lg" type="email" value="{{ last_username }}" name="_username" placeholder="Email" id="username" required autofocus>
      <label for="password" class="text-sm font-medium">Password :</label>
      <input class="bg-gray-400 p-3 rounded-lg" type="password" name="_password" placeholder="Password" id="password" required>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>
    <br>
    <div class="flex justify-center">
      <button class="bg-glaucous p-3 rounded-lg w-[70%]" type="submit">Sign in</button>
    </div>
  </form>
</div>
{% endblock %}